/*  MagentaLama
  Copyright (C) 2019  Filippo Pinton

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

// Colors

$pastelblue: #A9CDD8;
$darkblue: #8BC3D6;
$blightcerulean: #35B3D6;
$tealblue: #47788C;
$deepspacesparkle: #416270;


// Mixins
@mixin dimmed {
    opacity: .6;
}


// Theme config
$text: #000000;
$primary: $deepspacesparkle;
$secondary: $pastelblue;
$hover: $tealblue;
$font: "Trebuchet MS";
