/*  MagentaLama
  Copyright (C) 2019  Filippo Pinton

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import "utils";
@import "navbar";

html {
    line-height: 1.6;
    letter-spacing: .06em;
    scroll-behavior: smooth;
}

body, button, input, select, textarea {
    color: $text;
    font-family: 'Cantarell', sans-serif;
}

a {
    color: $text;
    text-decoration: none;
    border: none;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out;

    &:hover {
        color: $hover;
        text-shadow: 0 0 1px #fff;
    }
}


// footer
#site-footer {
    text-align: center;
    font-size: .9em;
    height: 6vh;
    line-height: normal;

    p {
        margin-top: 0;
        @include dimmed;
    }
}

.thin {
    max-width: 720px;
    margin: auto;
}

.section-inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 85%
}


// spotlight
#spotlight {
    display: flex;
    height: 94vh;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    margin: auto;
    font-size: 1.5rem;
}


// home
#home-center {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

#home-title {
    margin: 0;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}

#home-subtitle {
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: center;
    line-height: normal;
    font-size: .7em;
    font-style: italic;
    opacity: .9;
    font-weight: 300;
}

// Background image
.bg-img {
    width: 100vw;
    height: 100vw;
    opacity: .3;
    z-index: -1;
    position: fixed;
    top: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity .5s;
}

// Social icons rendering
.feather {
    display: inline-block;
    vertical-align: -.125em;
    width: 1em;
    height: 1em;
}

@media screen and (max-width: 370px) {
    #home-title {
        font-size: 2.5em;
        line-height: 1.5em;
    }
}
