/*  MagentaLama
  Copyright (C) 2019  Filippo Pinton

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import "utils";

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: white;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.2em;
    font-weight: 700;

    a {
        color: $primary;
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-weight: 700;

    a {
        text-decoration: none;
        @include dimmed;
    }

    li {
        list-style: none;
    }
}


.burger {
    display:  none;
    cursor: pointer;

    div {
        width: 25px;
        height: 3px;
        background-color: $primary;
        margin: 5px;
        transition: all .3s ease;
    }
}


@media screen and (max-width: 700px) {
    #nav-menu {
        transition: all .3s ease;
    }

    .logo {
        margin-left: -30%;
    }

    .nav-hidden {
        display: none;
        opacity: 0;
    }

    .nav-visually-hidden {
        opacity: 0;
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 12vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        li {
            opacity: 0;
        }
    }

    .burger {
        display: block;
        margin-right: -30%;
        padding-top: 10%;
        padding-bottom: 10%;
        transition: all .3s ease;
    }

    .nav-active {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 12vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        animation-name: fadeIn !important;
        animation-duration: .3s;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 10%;
            font-size: 1.5em;
        }
    }
}

.toggle {
    .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .line2 {
        opacity: 0;
   }

    .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
