{{/* MagentaLama
  Copyright (C) 2019  Filippo Pinton

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/}}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <title>{{ .Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Cantarell:400,400i,700&display=swap" rel="stylesheet">
    {{ $style := resources.Get "style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ block "head" . }}{{ end }}
</head>

<body id=page>
    {{ block "header" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" .}}

    {{ partial "analytics.html"}}

    {{ $navbar := resources.Get "js/navbar.js" }}
    {{ $script := $navbar | minify | fingerprint }}
    <script src="{{ $script.Permalink }}"></script>
</body>

</html>
