{{/* MagentaLama
  Copyright (C) 2019  Filippo Pinton

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/}}

{{ define "head" }}
    <style>.bg-img { background-image: url('{{ .Site.Params.bgImg }}');}</style>
{{ end }}

{{ define "header" }}
    {{ partial "navbar" . }}
{{ end }}

{{ define "main" }}
<div class="bg-img"></div>
<div id="spotlight" class="animated fadeIn">
    <div id="home-center">
        {{ .Content }}
    </div>
</div>
{{ end }}
